__pycache__
*.pyc
*.vscode

# Cryptography Java project
/Krypton/krypton3_dir/java/Cryptography/nbproject/private/
/Krypton/krypton3_dir/java/Cryptography-test/nbproject/private/

# some compiled code
bin/
*.out
